@charset "UTF-8";

:root {
  --content-width: 900px;
  --container-border: solid 1px #999;
  --light-border: solid 1px #ccc;
}
main {
  margin: 0 auto;
  padding-bottom: 30px;
  width: var(--content-width);
}

nav {
  margin: 0 auto;
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
}
nav h2 {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}
nav ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 0 10px;
}

h1 {
  margin: 14px auto 26px;
  width: var(--content-width);
  font-size: 1.8em;
  border-bottom: solid 1px #aaa;
}
a:visited {
  color: blue;
}
.title {
  position: relative;
}
.title a {
  position: absolute;
  right: 15px;
  font-size: 14px;
  bottom: 10px;
  color: blue;
}

textarea {
  padding: 10px 15px;
  line-height: 1.5;
}

main pre code[class*="language-"] {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
}
.code {
  position: relative;
}
.code .menu {
  position: absolute;
  margin: 0;
  right: 1px;
  top: 1px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}
.code .menu label {
  padding: 3px 10px 0;
  margin-left: 1px;
  min-width: 50px;
  display: inline-block;
  text-align: center;
  color: #444;
  background: rgba(140, 140, 140, .3);
  cursor: pointer;
  font-weight: bold;
}
.code .menu label:not(.active):hover {
  background: rgba(190, 190, 190, .2);
}
.code .menu label.active {
  color: #080;
  cursor: default;
}
.code .menu input {
  display: none;
}