@charset "UTF-8";

:root {
  --viewer-height: 220px;
  --viewer-width: 500px
}

section {
  padding: 10px;
  margin: 10px;
}
.content {
  display: flex;
  gap: 10px;
}
.content .code {
  width: calc(100% - var(--viewer-width));
  margin-left: 10px;
  height: var(--viewer-height);
  overflow: auto;
  border: var(--container-border);
  box-sizing: border-box;
}
.content .code pre {
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
}
h2 {
  margin: 0;
}
.viewer {
  box-sizing: border-box;
  width: var(--viewer-width);
  height: var(--viewer-height);
  border: var(--container-border);
  display: flex;
}
