@charset "UTF-8";

:root {
  --viewer-height: 220px;
  --viewer-height-middle: 300px;
  --viewer-width: 420px
}

section {
  padding: 10px;
  margin: 10px 0;
}
.content {
  display: flex;
  gap: 10px
}
.content .code {
  width: calc(100% - var(--viewer-width));
}
.content .code pre {
  height: var(--viewer-height);
  margin: 0;
  box-sizing: border-box;
  border: var(--container-border);
}
h2 {
  margin: 0;
}
.viewer {
  box-sizing: border-box;
  width: var(--viewer-width);
  height: var(--viewer-height);
  border: var(--container-border);
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 10px;
}
.content.middle .viewer {
  height: var(--viewer-height-middle);
}
.content.middle .code pre {
  height: var(--viewer-height-middle);
}