@charset "UTF-8";

h1 {
  margin: 14px 0 26px;
  font-size: 1.8em;
  border-bottom: solid 1px #aaa;
}
a:visited {
  color: blue;
}
.title {
  position: relative;
}
.title a {
  position: absolute;
  right: 15px;
  font-size: 14px;
  bottom: 10px;
  color: blue;
}

textarea {
  padding: 10px 15px;
  line-height: 1.5;
}
