@charset "UTF-8";

section {
  padding: 10px;
  margin: 10px 0;
}
.content {
  display: flex;
}
.content .code {
  width: 450px;
  margin-left: 10px;
}
.content .code pre {
  height: 220px;
  margin: 0;
  box-sizing: border-box;
  border: var(--container-border);
}
h2 {
  margin: 0;
}
.viewer {
  box-sizing: border-box;
  width: 420px;
  height: 220px;
  border: var(--container-border);
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 10px;
}
